* {margin: 0; padding: 0; color: #333;}
li {list-style: none;}
a {text-decoration: none;}

/* google font - icon */
.material-symbols-outlined {font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 48}


/* common style */


/*--------------wrap--------------*/
.header {
    width: 100%;
    padding: 50px 20px 0 20px;
    box-sizing: border-box;
    text-align: center;
}
.header h1 {
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 10px;
    margin-bottom: 50px;
}
.header>nav {
    position: relative;
}
.header>nav p {
    font-size: 28px;
}
.header>nav a {
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%);
    font-size: 14px;
}
.header>nav a span {
    vertical-align: bottom;
    font-size: 19px;
}
.header>nav a:active,
.header>nav a:active span {
    font-weight: bold;
    color: green;
}



/*----------month_contents----------*/
.month_contents {
    padding: 30px 20px;
}
#month03,#month04,#month05,#month06 {display: none;}

#month03:checked ~ .month_lab .m_lab03,
#month04:checked ~ .month_lab .m_lab04,
#month05:checked ~ .month_lab .m_lab05,
#month06:checked ~ .month_lab .m_lab06 {
    font-weight: bold;
    color: green;
    border: 1px solid green;
}

#month03:checked ~ .month_lists .m_list03,
#month04:checked ~ .month_lists .m_list04,
#month05:checked ~ .month_lists .m_list05,
#month06:checked ~ .month_lists .m_list06 {display: block;}

.month_lab {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.month_lab label {
    display: block;
    width: 70px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}
.month_lab label:active {
    font-weight: bold;
    color: green;
    border: 1px solid green;
}
.month_lists {
    margin: 30px 0;
}
.month_lists>ul {
    display: none;
}
.month_lists>ul li a {
    display: block;
    width: 100%;
    padding: 35px 20px 20px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    transition: all .2s;
}
.month_lists>ul li:hover a {
    background-color: antiquewhite;
}
.month_lists>ul li a h2 {
    font-size: 22px;
}
.month_lists>ul li a em {
    display: block;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 15px;
}
.month_lists ul ul li {
    list-style: disc;
    margin: 10px 20px;
}






/*--------------wrap--------------*/
/*--------------wrap--------------*/
/*--------------wrap--------------*/
/*--------------wrap--------------*/
/*--------------wrap--------------*/
/*--------------wrap--------------*/

